<form action = '/create_user' method = 'post'>
  <input type = 'text' name = 'email' placeholder = 'Insert email' >
  <input type = 'text' name = 'password' placeholder = 'Insert password' >
  <input type = 'submit' value = 'Register' >
</form>
