<h2> Welcome <%= current_user.email %> </h2>
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      Link: <%= link.url %>
      Tag:  <%= link.tags.map(&:name).join(",") %>
    </li>
  <% end %>
  <a href='/links/new'>Create Bookmark</a>
